@import 'src/app/shared/styles/utils';

.form-title {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  &__line {
    flex: 1;
  }
  &__text {
    @include label-small;
  }
}

.form {
  margin-top: 15px;
  &__field {
    width: 100%;
    margin-top: 16px;
  }
  &__field:nth-child(7) {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    mat-form-field{
      flex: 1;
    }
  }
  &__field-button {
    width: 50%;
    color: $netural0;
    @include label-medium;
    border: 1px solid $netural30;
    border-radius: 4px;
  }

  &__field-number {
    flex: 1;
  }
  &__agreement{
    display: flex;
    gap: 23px;
    align-items: center;
    @include label-medium;
    color: $netural0;
  }
  &__agreement-link {
    color: $primary;
    cursor: pointer;
  }
  &__field-error {
    color: $error;
    font-size: 26px;
  }
  ::ng-deep {
    .mat-mdc-form-field-bottom-align::before {
      content: none;
    }
    .mat-button-toggle.form__field-button.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
      background-color: $secondary90;
    }

  }
}

.submit-button{
  margin-top: 24px;
  width: 100%;
  height: 44px;
}

.error {
  color: $error;
  @include label-small;
  margin: 4px 0 0 16px;
}

