@import 'src/app/shared/styles/utils';
.form-title {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  &__line {
    flex: 1;
  }
  &__text {
    @include label-small;
  }
}

.form {
  margin-top: 24px;
  &__field {
    width: 100%;
  }
  &__field:nth-child(7) {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  &__field-button {
    width: 50%;
  }

  &__field-number {
    flex: 1;
  }
}

.submit-button{
  margin-top: 24px;
  width: 100%;
  height: 44px;
}
