@import '../../../../shared/styles/utils';

.payment-modal {
  text-align: center;
  padding: 15px;
  @include body-xlarge;
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}