<div class="flight-information">
  <div class="flight-information__general">
    <span class="flight-information__general-number">{{ flight.id }}</span>
    <span class="flight-information__general-direction">{{ flight.departurePoint.city }} — {{ flight.destinationPoint.city }}</span>
  </div>
  <div class="flight-information__departure">
    <span class="flight-information__departure-date">{{ flight.date | date: 'fullDate' }}</span>
    <span class="flight-information__departure-time">{{ flight.startTime }} — {{ finishTime }}</span>
  </div>
</div>

<div *ngFor="let person of currentOrder.passengersInfo; let i = index">
  <div class="passenger">
    <div class="passenger__name">{{ person.firstName | uppercase }} {{ person.lastName | uppercase }}</div>
    <ul class="passenger__baggage">
      <li>1checked bag (total 23 kg) included</li>
      <li>1 cabin bag + 1 personal item (max. 8 kg) included</li>
      <li *ngIf="numberSeats[i]">Seat {{ numberSeats[i] }}</li>
    </ul>
  </div>
</div>
