<div class="stepper">
  <div class="stepper__header">
    <div class="stepper__step"
      [class.stepper__step_selected-step]="currentPage === pages[0]"
      [class.stepper__step_completed-step]="currentPage !== pages[0]"
    >
      <img *ngIf="currentPage === pages[0]" src="../../../../assets/icons/pen.svg">
      <img *ngIf="currentPage !== pages[0]" src="../../../../assets/icons/check_mark.svg">
    </div>
    <div class="stepper__label">Flights</div>
  </div>

  <div class="stepper__line"></div>

  <div class="stepper__header">
    <div class="stepper__step"
      [class.stepper__step_selected-step]="currentPage === pages[1]"
      [class.stepper__step_completed-step]="currentPage === pages[2]"
    >
      <img *ngIf="currentPage === pages[1]" src="../../../../assets/icons/pen.svg">
      <img *ngIf="currentPage !== pages[1] && currentPage !== pages[0]" src="../../../../assets/icons/check_mark.svg">
      <span *ngIf="currentPage === pages[0]">2</span>
    </div>
    <div class="stepper__label">Passengers</div>
  </div>

  <div class="stepper__line"></div>

  <div class="stepper__header">
    <div class="stepper__step"
      [class.stepper__step_selected-step]="currentPage === pages[2]"
      [class.stepper__step_completed-step]="currentPage === pages[2]"
    >
      <img *ngIf="currentPage === pages[2]" src="../../../../assets/icons/pen.svg">
      <span *ngIf="currentPage !== pages[2]">3</span>
    </div>
    <div class="stepper__label">Review & Payment</div>
  </div>
</div>
