<div class="stepper">
  <div class="stepper__header">
    <div class="stepper__step"
      [class.selected-step]="step === 1"
      [class.completed-step]="step === 2 || step === 3"
    >
      <img *ngIf="step === 1" src="../../../../assets/icons/pen.svg">
      <img *ngIf="step !== 1" src="../../../../assets/icons/check_mark.svg">
    </div>
    <div class="stepper__label">Flights</div>
  </div>

  <div class="stepper__line"></div>

  <div class="stepper__header">
    <div class="stepper__step"
      [class.selected-step]="step === 2"
      [class.completed-step]="step === 3"
    >
      <img *ngIf="step === 2" src="../../../../assets/icons/pen.svg">
      <img *ngIf="step !== 2 && step !== 1" src="../../../../assets/icons/check_mark.svg">
      <span *ngIf="step === 1">2</span>
    </div>
    <div class="stepper__label">Passengers</div>
  </div>

  <div class="stepper__line"></div>

  <div class="stepper__header">
    <div class="stepper__step"
      [class.selected-step]="step === 3"
      [class.completed-step]="step === 3"
    >
      <img *ngIf="step === 3" src="../../../../assets/icons/pen.svg">
      <span *ngIf="step !== 3">3</span>
    </div>
    <div class="stepper__label">Review & Payment</div>
  </div>
</div>