<div class="passanger__list" [formGroup]="formGroup">
  <ng-container formArrayName="passengers">
    <ng-container *ngFor="let passengerForm of passengers.controls; let i = index">

      <div class="passanger__card" [formGroupName]="i">
        <h3 class="passanger__title">{{ i + 1}}. {{ passengerList[i] | titlecase }}</h3>
        <div class="passanger__form-main">

          <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            required
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input
              type="text"
              matInput
              formControlName="lastName"
              required
              >
          </mat-form-field>

          <mat-button-toggle-group
            class="gender__group"
            #gender="matButtonToggleGroup"
            formControlName="gender"
            >
            <mat-button-toggle class="gender__button" value="male">
              <mat-icon color="primary" *ngIf="gender.value === 'male'">done</mat-icon>
              Male
            </mat-button-toggle>
            <mat-button-toggle class="gender__button" value="female">
              <mat-icon color="primary" *ngIf="gender.value === 'female'">done</mat-icon>
              Female
            </mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthday"
              placeholder="MM/DD/YYYY"
              required
              >
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="toggle__group" *ngIf="passengerList[i] !== 'infant'">
          <mat-slide-toggle formControlName="assistance" color="primary"></mat-slide-toggle>
          <mat-icon class="toggle__icon" svgIcon="wheelchair" color="black"></mat-icon>
          <span class="toggle__label">Need special assistance?</span>
        </div>

      </div>

    </ng-container>
  </ng-container>
</div>
