<div class="way">
  <div
    class="way__direction"
    [class.way__direction_way-back]="isWayBack"
  >
    <img src="../../../../assets/icons/airplane.svg" alt="airplane">
    <span class="way__direction-text">
      {{ departurePoint?.city }} to {{ destinationPoint?.city }}
    </span>
  </div>
  <app-date-carousel
    [activeItems]="activeItems"
    [selectedDate]="selectedDate"
    [isSelectedTicket]="isSelectedTicket"
    (dateSelected)="selectedDate = $event"
  ></app-date-carousel>
  <app-ticket
    *ngFor="let flight of getFlightsOnDay(selectedDate)"
    [flight]="flight"
    [isWayBack]="isWayBack"
    [currency]="currency"
    [selected]="isSelectedTicket"
    (ticketSelected)="onTicketSelected($event)"
    (onSaveTicket)="onTicketSave($event)"
    (onDeleteTicket)="onTicketDelete($event)"
  ></app-ticket>
</div>
