<div class="way">
  <div
    class="way__direction"
    [class.way__direction_way-back]="isWayBack"
  >
    <img src="../../../../assets/icons/airplane.svg" alt="airplane">
    <span class="way__direction-text">
      Dublin to Warsaw Modlin
    </span>
  </div>
  <app-date-carousel [selectedTicket]="selectedTicket" (itemSelected)="selectedItem = $event"></app-date-carousel>
  <app-ticket (ticketSelected)="selectedTicket = $event" [flight]="selectedItem" [isWayBack]="isWayBack"></app-ticket>
</div>
