<div class="form-title">
  <div class="form-title__line"><hr></div>
  <div class="form-title__text">or log in with your email</div>
  <div class="form-title__line"><hr></div>
</div>
<form class="form" >
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput value="Input">
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput value="Pass">
  </mat-form-field>
</form>
<div class="recovery-password">Forgot password?</div>
<button mat-raised-button color="primary" class="submit-button">Log in</button>
