<div class="modal-wrapper" *ngIf="data.type === 'cart'">
  <h1>Order successfully added to cart!</h1>
  <button
    mat-button
    color="primary"
    routerLink="shopping-cart"
    mat-dialog-close
  >Go to Cart</button>
  <button mat-button mat-dialog-close color="primary">Continue Booking</button>
</div>

<div class="modal-wrapper" *ngIf="data.type === 'booking'">
  <h1>Order has been paid!</h1>
  <p>Paid orders are placed on the 'account' page.</p>
  <button
    mat-button
    color="primary"
    routerLink="/account"
    mat-dialog-close
  >Go to account page</button>
  <button mat-button mat-dialog-close color="primary">Close</button>
</div>
