@import '../../../shared/styles/abstract';

:host {
  & .app-header__toolbar {
    position:fixed;
    top: 0;
    background: $netural40;
    color: $neutral100;
    font-weight: 400;
    line-height: 1.5em;
  }

  & .app-header__toolbar.app-header__toolbar_booking {
    background: transparent;
    color: #49454F;
  }

  & .app-header__spacer {
    flex: 1 1 auto;
  }

  & .app-header__toolbar-content {
    @media screen and (max-width: 1128px) {
      width: 100%;
    }

    width: 1128px;
    margin: 0 auto;
    height: 88px;
    padding: 24px 0;
    letter-spacing: 0.5px;
    gap: 40px
  }

  & .app-header__toolbar-content.app-header__toolbar-content_booking {
    gap: 16px
  }

  & .app-header__login-button {
    padding: 0 0.75em;

    mat-icon {
      height: 1.5em;
      width: 1.5em;
    }
  }

  .app-header__login-button.app-header__login-button_booking {
    mat-icon {
      padding-top: 4px;
    }
  }

  & .app-header__basket-button {
    background: transparent;
    border: none;
    width: 62px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
  }
}

::ng-deep .app-header__currency-menu.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: 4em;
}

:host ::ng-deep {
  .mat-mdc-select-arrow svg {
    fill: $neutral100;
  }

  .select_booking .mat-mdc-select-arrow svg {
    fill: #49454F;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    padding: .5em 0;
    min-height: 2.5em;
    border-color: #CECECE;
    .mat-mdc-select-value {
      color: inherit;
    }
  }

  .mat-mdc-select-min-line.ng-tns-c8-1.ng-star-inserted {
    font-weight: 400;
    line-height: 1.5em;
  }

  .mdc-notched-outline__trailing,
  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #CECECE;
  }

  .mat-mdc-text-field-wrapper {
    max-width: 162px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  .mat-mdc-menu-trigger.mdc-button,
  .mat-mdc-outlined-button.mat-mdc-button-base {
    font-size: 0.8em;
    height: 2.5em;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
        border-color: #CECECE;
    }
  }
}
