<mat-toolbar
  class="app-header__toolbar"
  [class.app-header__toolbar_booking]="isBookingPage"
>
  <mat-toolbar-row
    class="app-header__toolbar-content"
    [class.app-header__toolbar-content_booking]="isBookingPage"
  >
    <img src="../../../../assets/icons/logo.svg" alt="logo airways">

    <span *ngIf="!isBookingPage" class="app-header__spacer"></span>

    <app-stepper *ngIf="isBookingPage"></app-stepper>

    <span *ngIf="!isBookingPage">Book flights</span>

    <mat-form-field
      appearance="outline"
      color="primary"
      [class.select_booking]="isBookingPage"
    >
      <mat-select [(ngModel)]="selectedDateFormat">
        <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
          {{ dateFormat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button [matMenuTriggerFor]="menu">{{ selectedCurrency }}</button>

    <mat-menu #menu="matMenu" class="app-header__currency-menu">
      <button mat-menu-item
        *ngFor="let currency of currencies"
        (click)="selectedCurrency = currency"
      >
        {{ currency }}
      </button>
    </mat-menu>


      <button
        mat-stroked-button
        class="app-header__signin-button"
        [class.app-header__signin-button_booking]="isBookingPage"
        (click)="toggleAuthWindow()"
      >
        <mat-icon class="icon" [class.icon_black]="isBookingPage" svgIcon="user"></mat-icon>
        Sing in
      </button>

      <button class="app-header__basket-button">
        <mat-icon class="icon" [class.icon_black]="isBookingPage" svgIcon="basket"></mat-icon>
      </button>

  </mat-toolbar-row>
</mat-toolbar>
