<div
  class="ticket"
  [class.ticket_selected]="selected"
  *ngIf="flight && !disable"
>
  <div class="ticket__flight-info">
    <div class="ticket__start-time-and-date">
      <span class="ticket__date">
        {{ flight.date | date : 'EEE, d MMM YYYY' }}
      </span>
      <div class="ticket__time-and-timezone">
        <div class="ticket__start-time">{{ flight.startTime }}</div>
        <div class="ticket__timezone">UTC{{ flight.departurePoint.UTC }}</div>
      </div>
      <span class="ticket__city">
        {{ flight.departurePoint.city }}
      </span>
    </div>
    <div class="ticket__time-progress">
      <div class="ticket__time-line"></div>
      <div
        class="ticket__flight-time"
        [class.ticket__flight-time_way-back]="isWayBack"
      >
        <div>{{ travelHours }}h {{ travelMinutes }}m</div>
        <img src="../../../../assets/icons/airplane-time-to-right.svg" width="24">
        <div>Direct</div>
      </div>
      <div class="ticket__time-line"></div>
    </div>
    <div class="ticket__finish-time-and-date">
      <span class="ticket__date">
        {{ flight.date | date : 'EEE, d MMM YYYY' }}
      </span>
      <div class="ticket__time-and-timezone">
        <div class="ticket__timezone">UTC{{ flight.destinationPoint.UTC }}</div>
        <div class="ticket__finish-time">{{ finishTime }}</div>
      </div>
      <span class="ticket__city">
        {{ flight.destinationPoint.city }}
      </span>
    </div>
  </div>
  <div class="ticket__flight-no">
    <div class="ticket__flight-no-text">Flight no.</div>
    <div class="ticket__flight-no-fr">{{ flight.id }}</div>
  </div>
  <div *ngIf="selected" class="ticket__price-selected">
    {{ currency | currencySymbol }}{{ flight.price }}
  </div>
  <div *ngIf="selected" class="ticket__edit">
    <button
      class="ticket__edit-button"
      mat-flat-button
      color="primary"
      (click)="deleteTicket()"
    >
      Edit
    </button>
  </div>
  <div *ngIf="!selected" class="ticket__select-and-warning">
    <div class="ticket__select-container">
      <div class="ticket__price-and-warning">
        <div class="ticket__warning"
          appIndicatorColor
          [numberOfSeats]="flight.availableTickets"
          [fewSeatsColor]="'#E8BEBC'"
          [enoughSeatsColor]="'#FBEFC2'"
          [manySeatsColor]="'#D9DCB4'"
        >
          {{ flight.availableTickets }} seats<br>available
        </div>
        Price
        <div class="ticket__price">
          {{ currency | currencySymbol }}{{ flight.price }}
        </div>
      </div>
      <div class="ticket__select">
        <button
          class="ticket__select-button"
          mat-flat-button
          color="primary"
          (click)="saveTicket()"
        >
          Select
        </button>
      </div>
    </div>
  </div>
</div>
