<div class="fare">
  <div class="fare__passenger">
    <div class="fare__passenger-type">
      <span> {{ flightInfo.passengersCompound.adults }} x Adult Fare</span>
      <span>€257.31</span>
    </div>
    <div class="fare__passenger-base">
      <span>Fare</span>
      <span>€166.00</span>
    </div>
    <div class="fare__passenger-tax">
      <span>Tax & Service Charge</span>
      <span>€91.31</span>
    </div>
  </div>

  <div class="fare__passenger" *ngIf="flightInfo.passengersCompound.children">
    <div class="fare__passenger-type">
      <span> {{ flightInfo.passengersCompound.children }} x Child Fare</span>
      <span>€257.31</span>
    </div>
    <div class="fare__passenger-base">
      <span>Fare</span>
      <span>€166.00</span>
    </div>
    <div class="fare__passenger-tax">
      <span>Tax & Service Charge</span>
      <span>€91.31</span>
    </div>
  </div>

  <div class="fare__passenger" *ngIf="flightInfo.passengersCompound.infants">
    <div class="fare__passenger-type">
      <span> {{ flightInfo.passengersCompound.infants }} x Infant Fare</span>
      <span>€257.31</span>
    </div>
    <div class="fare__passenger-base">
      <span>Fare</span>
      <span>€166.00</span>
    </div>
    <div class="fare__passenger-tax">
      <span>Tax & Service Charge</span>
      <span>€91.31</span>
    </div>
  </div>

  <div class="fare__total">
    <span>TOTAL:</span>
    <span  class="fare__total-cost">€551.38</span>
  </div>
</div>
