<form [formGroup]='initialForm' (ngSubmit)="onSubmit()">

  <mat-radio-group
    formControlName="type"
    (change)="onRadioChange()"
    >
    <mat-radio-button value="rounded" selected>Round Trip</mat-radio-button>
    <mat-radio-button value="oneway">One Way</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>From</mat-label>
    <mat-select
      placeholder="Choose a departure point"
      formControlName="from"
      >
      <mat-option
        *ngFor="let fromPlace of places"
        [value]="fromPlace"
        >
        <div class="place-option">
          <span class="place-option__top">{{ fromPlace.city }} ({{ fromPlace.iata }}) </span>
          <span class="place-option__bottom">{{ fromPlace.airport }}, {{ fromPlace.country }}</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Destination</mat-label>
    <mat-select
      placeholder="Choose your destination"
      formControlName="destination"
      >
      <mat-option
        *ngFor="let toPlace of places"
        [value]="toPlace"
        >
        <div class="place-option">
          <span class="place-option__top">{{ toPlace.city }} ({{ toPlace.iata }}) </span>
          <span class="place-option__bottom">{{ toPlace.airport }}, {{ toPlace.country }}</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn-input-switch" type="button" (click)="onClickSwitch()"></button>

  <div class="main-page__containter-bottom">

  <mat-form-field appearance="outline" *ngIf="!isRounded">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="singleDate"
    >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="isRounded">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [rangePicker]="picker"
      formGroupName="date">
      <input
        matStartDate
        formControlName="start"
        placeholder="Start date"
      >
      <input
        matEndDate
        formControlName="end"
        placeholder="End date"
      >
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Passengers</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let passenger of passengersList" [value]="passenger" class="option-flex">

        <div class="passenger-option">
          <p>{{passenger}}</p>

          <button
          mat-button
          mat-icon-button
          matPrefix
          aria-label="Remove"
          >
          <mat-icon>remove</mat-icon>
          </button>
          <input matInput type="number"/>
          <button
            mat-button
            mat-icon-button
            matSuffix
            aria-label="Add"
            >
            <mat-icon>add</mat-icon>
          </button>

        </div>

      </mat-option>

    </mat-select>
  </mat-form-field>

  </div>

  <button class="main-page__btn" mat-flat-button color="primary" type="submit">Search</button>
</form>

