@import 'src/app/shared/styles/utils';

:host {
  margin-top: 62px;
  padding: 24px;
  display: block;
  width: 580px;
  height: 390px;
  background:rgba($neutral100, 0.85);
  border-radius: 8px;
  form {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  mat-radio-group {
    display: flex;
    margin-bottom: 15px;
  }
  mat-radio-button {
    @include button-font;
    margin-right: 60px;
  }
  mat-form-field {
    display: block;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .main-page {
    &__btn {
      margin-top: auto;
      @include button-font;
      justify-self: end;
      max-width: 128px;
      height: 60px;
      padding: 20px 37.5px;
      align-self: flex-end;
    }
    &__containter-bottom {
      margin-top: 18px;
      display: flex;
      gap: 20px;
    }
  }
  .place-option {
    display: flex;
    flex-direction: column;
    &__top{
      display: block;
      @include body-large;
    }
    &__bottom{
      display: block;
      color: $neutral30;
      @include body-medium;
    }
  }
  .passenger-option {
    display: flex;
  }
}

.btn-input-switch {
  position: absolute;
  top: 90px;
  right: 54px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid $neutral40;
  background: center / 60% no-repeat url(../../../../assets/icons/switch.svg) $neutral100;
  transition: 0.3ms;
  &:hover {
    transition: 0.3ms;
    border: 1px solid $neutral0;
  }
  &:active {
    transition: 0.3ms;
    border: 1px solid $neutral0;
    background: center / 60% no-repeat url(../../../../assets/icons/switch.svg) $neutral80;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
