@import 'src/app/shared/styles/utils';

.signin-form {
  width: 494px;
  background-color: $neutral100;
  margin: 0 auto;
  border-radius: 8px;
  ::ng-deep {
    .mat-mdc-tab-labels {
      border: 0.5px solid $neutral60;
      border-radius: 6px;
    }
    .mat-mdc-tab .mdc-tab__text-label {
      @include label-medium;
    }
    .mdc-tab--active {
      border: 1px solid $neutral60;
      border-bottom: none;
      border-radius: 6px;
      background-color: $secondary90;
    }
    .mat-mdc-tab-body-content.ng-trigger-translateTab {
      overflow: hidden;
    }
  }
  .mat-mdc-dialog-container.mdc-dialog__content {
    max-height: 80vh;
  }
}

.close-signin-form {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -35px;
  right: -10px;
  &__button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $neutral0;
    cursor: pointer;
    font-size: 20px;
    pointer-events: all;
    &:hover {
      color: $neutral20;
    }
  }
}

::ng-deep{
  .mat-mdc-dialog-container .mdc-dialog__content {
    max-height: 85vh;
  }
  .mat-mdc-dialog-surface.mdc-dialog__surface{
    overflow-y: visible;
  }
}
