<form [formGroup]='initialForm' (ngSubmit)="onSubmit()">

  <mat-radio-group
    formControlName="isRounded"
    (change)="onRadioChange()"
    >
    <mat-radio-button [value]="true" selected>Round&nbsp;Trip</mat-radio-button>
    <mat-radio-button [value]="false">One&nbsp;Way</mat-radio-button>
  </mat-radio-group>

  <div class="place-options">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <mat-select
        placeholder="Choose a departure point"
        formControlName="departurePoint"
        >
        <mat-option
          *ngFor="let from of airports"
          [value]="from"
          >
          <div class="place-options__group">
            <span class="place-options__top">{{ from.city }} ({{ from.iata }}) </span>
            <span class="place-options__bottom">{{ from.name }}, {{ from.country }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Destination</mat-label>
      <mat-select
        placeholder="Choose your destination"
        formControlName="destinationPoint"
        >
        <mat-option
          *ngFor="let to of airports"
          [value]="to"
          >
          <div class="place-options">
            <span class="place-options__top">{{ to.city }} ({{ to.iata }}) </span>
            <span class="place-options__bottom">{{ to.name }}, {{ to.country }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn-input-switch" type="button" (click)="onClickSwitch()">
      <mat-icon class="passengers__icon" svgIcon="switch"></mat-icon>
    </button>
  </div>

  <div class="main-page__containter-bottom">

    <mat-form-field appearance="outline" *ngIf="!isRounded">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="singleDate"
      >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="isRounded">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        formGroupName="date">
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
        >
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
        >
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY&nbsp;–&nbsp;MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div class="passengers__form">
      <span class="passengers__label" [ngClass]="{'passengers__label-open': isPassengersMenuOpened}">Passengers</span>
      <button
        class="passengers__btn"
        type="button"
        (click)="onTogglePassengerMenu()"
        [ngClass]="{'passengers__open': isPassengersMenuOpened}"
        >
        <span class="passengers__display">{{ passengersDisplay }}</span>
      </button>
      <div class="passengers__select"
        *ngIf="isPassengersMenuOpened"
        formGroupName="passengersCompound"
        >
        <div class="option" *ngFor="let passengerType of passengersList">
          <div class="option__info">
            <div [ngStyle]="{color: getColor(passengerType[0])}">{{ passengerType[0] | titlecase }}</div>
            <div class="option__support">{{ passengerType[1] }}</div>
          </div>
          <button class="option__operator option__minus" type="button" (click)="onChangeNumber(passengerType[0], 'minus')"> - </button>
          <input
            [formControlName]="passengerType[0]"
            type="number"
            [ngStyle]="{color: getColor(passengerType[0])}"
            readonly
            />
          <button class="option__operator option__plus" type="button" (click)="onChangeNumber(passengerType[0], 'plus')"> + </button>
        </div>
      </div>
    </div>

  </div>

  <button class="main-page__btn" mat-flat-button color="primary" type="submit">Search</button>
</form>
