$primary: #3f51b5;
$accent: #ff4081;
$error: #f44336;
$netural40: rgba(116, 118, 122, 0.6);
$netural50: rgba(0, 0, 0, 0.25);
$netural60:  rgb(206, 206, 206);
$netural80: rgb(245, 245, 245);
$netural90: rgba(241, 243, 246, 0.15);
$neutral100: rgb(255, 255, 255);
