<div class="footer-wrapper">
  <div class="footer">
    <div class="footer__copyright">&#169; 2023, AIRWAY. All rights reserved.</div>
    <div class="footer__authors">
      <img
        class="footer__authors-logo"
        src="assets/icons/github.svg"
        alt="github">
      <a class="footer__authors-link" href="https://github.com/arantola">arantola</a> |
      <a class="footer__authors-link" href="https://github.com/vladislava96">vladislava96</a> |
      <a class="footer__authors-link" href="https://github.com/nike93">nike93</a>
    </div>
    <div class="footer__payments">
      <span class="footer__payments-info">We accept these payment methods</span>
      <img src="assets/icons/mastercard.svg" alt="mastercard">
      <img src="assets/icons/amazon.svg" alt="amazon">
      <img src="assets/icons/american-express.svg" alt="american-express">
      <img src="assets/icons/visa.svg" alt="visa">
    </div>
  </div>
</div>

