<div class="cart">
  <span class="cart__title">Cart</span>
  <div class="cart__header">
    <div class="cart__header-titles">
      <div class="cart__no">
        No.
      </div>
      <div class="cart__flight">
        Flight
      </div>
      <div class="cart__type-trip">
        Type trip
      </div>
      <div class="cart__data-time">
        Data & Time
      </div>
      <div class="cart__passengers">
        Passengers
      </div>
      <div class="cart__price">
        Price
      </div>
    </div>
  </div>
  <div class="cart__select-all">
    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
    Select All
  </div>
  <app-cart-trip></app-cart-trip>
  <app-cart-trip></app-cart-trip>
  <div class="cart__sum-footer">
    <button class="cart__add-trip-button" mat-flat-button color="primary">+ Add new trip</button>
    <div class="cart__sum">Total <span>€572.34</span></div>
  </div>
  <div class="cart__payment-footer">
    <mat-form-field appearance="outline">
      <mat-label>Promo code</mat-label>
      <input class="cart__promo-code-input" matInput>
      <mat-icon class="cart__promo-code-icon" matSuffix>APPLY</mat-icon>
    </mat-form-field>
    <div class="cart__selected-and-payment">
      <span>2 selected</span>
      <button class="cart__payment-button" mat-flat-button color="primary">Payment</button>
    </div>
  </div>
</div>
