<div class="flight-information">
  <div class="flight-information__general">
    <span class="flight-information__general-number">{{ flightInfo.numberFlight }}</span>
    <span class="flight-information__general-direction">{{ flightInfo.departure }} — {{ flightInfo.arrival }}</span>
  </div>
  <div class="flight-information__departure">
    <span class="flight-information__departure-date">{{ flightInfo.date }}</span>
    <span class="flight-information__departure-time">{{ flightInfo.departureTime }} — {{ flightInfo.arrivalTime }}</span>
  </div>
</div>
