@import 'src/app/shared/styles/utils';

:host {
  display: block;
  max-width: 551px;
}

.flight-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 100px;
  padding: 20px 24px;
  background-color: $secondary80;
  border-radius: 8px 8px 0 0;
  border-top: 3px solid $primary;
  &__general {
    @include title-medium;
    &-number {
      color: $primary;
    }
    &-direction {
      margin-left: 20px;
    }
  }
  &__departure {
    @include body-large;
    &-time {
      margin-left: 36px;
    }
  }

}
