@import '../../../shared/styles/abstract';
@import '../../../shared/styles/typography';

.cart-trip {
  display: flex;
  justify-content: space-around;
  width: 97%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: solid 1px $secondary50;
  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
  }
  &__info {
    display: flex;
    width: 90%;
    
    div {
      display: flex;
      align-items: center;
    }
  }
  &__no {
    width: 15%;
    @include title-medium;
    color: $accent;
  }
  &__flight {
    width: 20%;
    @include body-xlarge;
    color: $neutral110;
  }
  &__type-trip {
    width: 15%;
    @include body-xlarge;
    color: $neutral110;
  }
  &__data-time {
    width: 30%;
    @include body-xlarge;
    color: $neutral110;
  }
  &__passengers {
    width: 11%;
    @include body-xlarge;
    color: $neutral110;
  }
  &__price {
    width: 9%;
    @include body-xlarge;
    color: $highlight-green;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
  }
  &__button {
    width: 40px;
    height: 40px;
    color: $neutral30;
  }
}