@import '../../../shared/styles/abstract';
@import '../../../shared/styles/typography';

.cart-trip {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0 36px 0 30px;
  padding: 30px 0;
  border-bottom: solid 1px $secondary50;
  &__checkbox {
    display: flex;
    align-items: center;
  }
  &__mat-checkbox_position {
    position: relative;
    left: -20px;
  }
  &__info {
    display: flex;
    width: 100%;
    div {
      display: flex;
      align-items: center;
    }
  }
  &__no {
    width: 15%;
    @include title-medium;
    color: $accent;
  }
  &__flight,
  &__type-trip,
  &__data-time,
  &__passengers {
    @include body-xlarge;
    color: $neutral110;
  }
  &__flight {
    width: 20%;
  }
  &__type-trip {
    width: 13%;
  }
  &__data-time {
    width: 30%;
  }
  &__passengers {
    width: 13%;
  }
  &__price {
    width: 9%;
    @include body-xlarge;
    color: $highlight-green;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    position: relative;
    left: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: $neutral30;
  }
}