<div class="cart-trip">
  <div class="cart-trip__checkbox">
    <mat-checkbox class="card-trip__mat-checkbox_position" color="primary"></mat-checkbox>
  </div>
  <div class="cart-trip__info">
    <div class="cart-trip__no">
      FR 1925
    </div>
    <div class="cart-trip__flight">
      Dublin — Warsaw<br>
      Modlin — Dublin
    </div>
    <div class="cart-trip__type-trip">
      Round Trip
    </div>
    <div class="cart-trip__data-time">
      1 Mar, 2023, 8:40 — 12:00<br>
      18 Mar, 2023, 7:40 — 11:00
    </div>
    <div class="cart-trip__passengers">
      1 x Adult<br>
      1 x Child<br>
      1 x Infant<br>
    </div>
    <div class="cart-trip__price">
      €551.38
    </div>
  </div>
  <div class="cart-trip__menu">
    <button class="cart-trip__button" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Delete</button>
      <button mat-menu-item (click)="editTrip()">Edit</button>
    </mat-menu>
  </div>
</div>
